.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  background-color: rgba(62, 45, 0, 0.121);
  border-bottom: 1px solid rgba(62, 45, 0, 0.061);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100vw;
}
.header .lang {
  display: flex;
  align-items: center;
}
.header .lang .esp {
  width: 50px;
  height: 30px;
  margin-right: 0.6rem;
}
.header .lang .arrow {
  font-size: 1.5rem;
  font-family: futuraTitle;
  font-weight: bolder;
  rotate: 90deg;
}
.header .navbar {
  display: flex;
  gap: 60px;
  font-size: 1.4rem;
}

.home {
  padding-top: 12rem;
  margin: 0 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
}
.home .img {
  align-self: center;
  justify-self: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(133, 119, 76, 0.772) 100%);
  height: 35rem;
}
.home .img img {
  height: 35rem;
  border: 2px solid rgba(203, 179, 112, 0.613);
  border-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 21%, rgba(203, 179, 112, 0.613) 100%) 30;
}
.home .text {
  align-self: center;
}
.home .text .title {
  font-size: 10rem;
}
.home .text .subtitle {
  font-size: 2.3rem;
}

.sections {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 30px;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "titleC divider titleE" "conocimientos divider estudios";
}
.sections .titleC {
  grid-area: titleC;
  font-size: 4rem;
}
.sections .conocimientos {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8rem 1fr 1fr;
  grid-template-areas: "techs techs2" "techs none" "techs langs";
}
.sections .conocimientos .techs {
  grid-area: techs;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.sections .conocimientos .techs2 {
  grid-area: techs2;
  font-size: 2rem;
}
.sections .conocimientos .langs {
  grid-area: langs;
  font-size: 2rem;
}
.sections .divider {
  grid-area: divider;
  transform: rotate(90deg);
  width: 610px;
  height: 2px;
}
.sections .titleE {
  grid-area: titleE;
  font-size: 4rem;
}
.sections .estudios {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "secundario" "terciario" "personal";
}
.sections .estudios .secundario {
  grid-area: secundario;
  font-size: 2.2rem;
}
.sections .estudios .terciario {
  grid-area: terciario;
  font-size: 1.5rem;
}
.sections .estudios .personal {
  grid-area: personal;
  font-size: 1.5rem;
}

.icon {
  width: 32px;
  height: 32px;
}

.langIcon {
  width: 48px;
  height: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: futuraText;
  list-style-type: none;
  color: rgb(220, 188, 107);
}

@font-face {
  font-family: futuraTitle;
  src: url(../fonts/futura-pt-cond-bold-oblique.otf);
}
@font-face {
  font-family: futuraText;
  src: url(../fonts/futura-pt-medium-oblique.otf);
}
body {
  background: linear-gradient(180deg, rgb(0, 0, 0) 21%, rgb(74, 69, 53) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.backgroundDot {
  background-image: url(../media/img/dot.png);
  background-size: 4%;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: auto;
}

.line, .sectionLine {
  background: linear-gradient(275deg, rgba(0, 0, 0, 0) 0%, rgb(133, 119, 76) 50%, rgba(36, 33, 25, 0) 100%);
  height: 3px;
  margin: 0.2rem 0;
}

.sectionLine {
  margin: 6rem;
}

/*# sourceMappingURL=style.css.map */
