.contact {
  margin-bottom: 5rem;

  .title {
    font-size: 15vw;
    text-align: center;
    margin-bottom: 2rem;
  }

  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    a {
      img {
        width: 30vw;
        height: 30vw;
        transition: all ease-in-out 0.3s;

        &:hover {
          width: 35vw;
          height: 35vw;
        }
      }
    }
  }
}

//MediaQuerys

@media (min-width: 768px) {
  .contact {
    .title {
      font-size: 9vw;
    }

    .redes {
      a {
        img {
          width: 15vw;
          height: 15vw;

          &:hover {
            width: 17vw;
            height: 17vw;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact {
    .title {
      font-size: 6vw;
    }

    .redes {
      a {
        img {
          width: 10vw;
          height: 10vw;

          &:hover {
            width: 11.5vw;
            height: 11.5vw;
          }
        }
      }
    }
  }
}
