.projectsTitle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.containerProjects {
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-row: auto;
    gap: 50px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(203, 179, 112, 0.613);
    box-shadow: 1px 1px 10px rgba(199, 153, 28, 0.347);
    width: fit-content;
    height: fit-content;
    transition: all ease-in-out 0.3s;

    &:hover {
      box-shadow: 1px 1px 25px rgba(242, 197, 73, 0.849);
    }

    a {
      height: 162px;

      img {
        height: 162px;
        width: 271px;
      }
    }

    .toRepo {
      position: relative;
      margin: -81px;
      right: 105px;
      top: 25px;

      .repoImg {
        width: 48px;
        height: 48px;
        transition: all ease-in-out 0.3s;
        border-radius: 40px;

        &:hover {
          box-shadow: 1px 1px 20px white;
          width: 54px;
          height: 54px;
        }
      }
    }

    .text {
      background-color: rgba(0, 0, 0, 0.187);
      padding: 0.3rem 1rem;
      width: 271px;
      height: fit-content;
      border-top: 1px solid rgba(203, 179, 112, 0.613);

      .title {
        font-size: 2rem;
      }

      .desc {
        font-size: 1.1rem;
      }
    }
  }
}

//MediaQuerys

@media (min-width: 375px) {
  .projectsTitle {
    font-size: 18vw;
  }

  .containerProjects {
    .card {
      a {
         height: 40vw;

         img {
          height: 40vw;
          width: 80vw;
         }
      }

      .text {
        width: 80vw;
      }

      .toRepo {
        margin: -20vw;
        right: 32vw;
        top: 6vw;
      }
    }
  }
}

@media (min-width:600px) {
  .containerProjects {
    .card {
      .toRepo {
        top: 10vw;
        right: 35vw;
      }
    }
  }
}

@media (min-width:768px) {
  .projectsTitle {
     font-size: 10vw;
  }

  .containerProjects {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
      a {
        height: 25vw;

        img {
          height: 25vw;
          width: 43vw;
        }
      }

      .toRepo {
        margin: -12.5vw;
        top: 6vw;
        right: 18vw; 
      }

      .text {
        width: 43vw;
        min-height: 95px;
      }
    }
  }
}

@media (min-width:1200px) {
  .projectsTitle {
    font-size: 6.4vw;
  }

  .containerProjects {
    grid-template-columns: repeat(3, 1fr);

    .card {

      a {
        height: 17vw;

        img {
          height: 17vw;
          width: 28vw;
        }
      }

      .toRepo {
        margin: -8.5vw;
        top: 4vw;
        right: 11vw;

      }

      .text {
        width: 28vw;
      }
    }
  }
}

@media (min-width: 1700px) {
  .containerProjects {
    .card {
      .toRepo {
        top: 5vw;
        right: 12vw;
      }
    }
  }
}